<h1>
  <% if @week.update_type == 'solution' %>
    Adding solution
  <% elsif @week.update_type == 'prize' %>
    Adding prize
  <% end %>
</h1>

<%= render 'form' %>

<%= link_to 'Show', @week %> |
<%= link_to 'Back', weeks_path %>
