<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bets for <%= @week.number %> (<%= @week.friday %>) have been made!</p>
    <p>Do them!
      <ul>
        <% @week.bets.each do |bet| %>
          <li><%= print_bet bet.bet, "" %></li>
        <% end %>
      </ul>
    </p>
    <p>Thanks!</p>
  </body>
</html>

