<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bets for <%= @week.number %> (<%= @week.friday %>) have been made!</p>
    <p>Do them! Don't forget that they are multiples now!!!</p>
    <p>Thanks!</p>
  </body>
</html>

