<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Make your bets for week <%= @week.number %> (<%= @week.friday %>)!</h1>
    <p>
      To do so go to <%= link_to "our amazing website", new_bet_url %>
    </p>
    <p>
      If you have a default bet set up, that will be used by default, but you are
      free to change it. (Yes, this is for you Miguel, hopefully no one else will use
      default bets, because it's a bit lame...)</p>
    <p>Thanks for being so deligent!</p>
    <p>
      -- <em><%= @quote %></em>
    </p>
  </body>
</html>
