<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New week created!!</p>
    <p>Week # <%= @week.number %> (<%= @week.friday %>)</p>
    <p>Nothing else to do as we now use random multiple bets... just chill</p>
    <p>Thanks!</p>
  </body>
</html>

