<p>
  <strong>Week:</strong> <%= link_to @bet.week.try(:number), @bet.week %>
</p>
<p>
  <strong>Bet:</strong>
  <%= formatted_bet @bet, @bet.week.try(:solution) %>
</p>

<%= link_to 'Back', bets_path %>
