<html>
  <body>
    <%= yield %>
    <p>
      Link to site:
      <a href="https://our-milheones.simaobelchior.net/">
        https://our-milheones.simaobelchior.net/
      </a>.
    </p>
  </body>
</html>
