<html>
  <body>
    <%= yield %>
    <p>
      Link to site:
      <a href="http://our_milheones.simaobelchior.net/">
        http://our_milheones.simaobelchior.net/
      </a>.
    </p>
  </body>
</html>
